*.o
*.la
*.lo
*.in
*.m4
*.log
*.dirstamp
*.deps/
*.libs/
config.status
libtool
Makefile
config
configure
src/config.h
src/stamp-h1
src/cruceGame
autom4te.cache/
test/run-test.sh.trs
ipch/
*.suo
*.sdf
*.opensdf
Debug/
