*.o
*.la
*.lo
*.in
*.m4
*.log
config.status
libtool
Makefile
config
configure
test/.deps/
test/.libs/
src/.deps/
src/.libs/
src/libCruceGame/.deps/
src/libCruceGame/.dirstamp
src/config.h
src/stamp-h1
autom4te.cache/
test/run-test.sh.trs
